
# vscode
.vscode/

# binaries
cmd/__debug_bin
cmd/*/__debug_bin
cmd/osrm-traffic-updater/osrm-traffic-updater
cmd/snappy/snappy
cmd/wayid2nodeid-extractor/wayid2nodeid-extractor
cmd/trafficproxy-cli/trafficproxy-cli
cmd/osrm-ranking/osrm-ranking
cmd/trafficcache-parallel-test/trafficcache-parallel-test
cmd/osrm-files-extractor/osrm-files-extractor
cmd/historicalspeed-timezone-builder/historicalspeed-timezone-builder
cmd/nodes2way-builder/nodes2way-builder
cmd/nodes2way-cli/nodes2way-cli

# test files
cmd/trafficproxy-cli/*_flows.csv
cmd/trafficproxy-cli/*_incidents.csv
cmd/historicalspeed-timezone-builder/*mapping.csv
cmd/osrm-traffic-updater/testdata/target.csv